* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

.topbar {
  background-color: var(--bs-primary);
}

.topbar .logo a {
  font-weight: 800;
  text-decoration: none;
  font-size: 25px;
  color: white;
}
.topbar .toggle {
  text-align: right;
}
.topbar .toggle a {
  font-size: 2em;
  color: white;
  display: inline-block;
}
